body{
	margin: auto 0;
}
header{
	background: deepskyblue;
	height: 50px;
}
div {
 display: flex;
 justify-content: center;
 flex-wrap: wrap 
}


div > img{
	flex-grow: 3;
	width: 300px;
	height: 400px;
	
}